/**
Medium
*/

@media (min-width: 768px) and (max-width: 991.9px){
    header{
        background-color: rgb(255, 145, 0);
    }
    .h1MD{
        font-size: 40px;
        color: white;
    }
    .h1XS, .h1SM, .h1LG, .h1XL{
        display: none;
    }
}