/**
small
*/

@media (min-width: 600px) and (max-width: 767.9px) {
    header{
        background-color: blueviolet;
    }
    .h1SM{
        font-size: 30px;
        color: white;
    }
    .h1XS, .h1MD, .h1LG, .h1XL{
        display: none;
    }
}